django>=6.0
djangorestframework>=3.17
django-cors-headers>=4.9
psycopg2-binary>=2.9
openai>=2.0
python-dotenv>=1.0
django-ace>=1.44
langchain-postgres>=0.0.14
langchain-ollama>=0.3
langchain-text-splitters>=0.3
langchain-core>=0.3
sqlalchemy>=2.0
psycopg[binary]>=3.2
numpy>=2.0
scikit-learn>=1.5
plotly>=5.24
requests>=2.32
beautifulsoup4>=4.12
